extends layout 

block content 

    .container.log-in-form-container 
        h1 Log in
        
        form(method="POST" action="")

            label(for='username') Username 
            input(name='username' id='username' type='text' placeholder='Enter your username' required='true')

            label(for='password') Password
            input(name='password' id='password' type='password' placeholder='Password' required='true') 

            button(type='submit') Log in

        p Don't have an account ? #[a(href='/sign-up' class='shortcut-a') Sign up]

        if errors
            ul
                for error in errors
                    li!= error.msg
