extends layout 

block content 

    .message-form-container 
        form(method="POST" action="")

            label(for='title') Title
            input(name='title' id='title' type='text' placeholder='Enter a title for your message' required='true')

            label(for='text') Text
            textarea(name='text' id='text' type='text' placeholder='Message text' required='true' rows="5" cols="30") 

            button(type='submit') Submit message

        if errors
            ul
                for error in errors
                    li!= error.msg
