extends layout

block content 

    .container.sign-up-form-container
        h1 Sign up
        form(method="POST" action="")

            label(for='username') Username
            input(name='username' id='username' type='text' placeholder='Username' required='true') 

            label(for='password') Password
            input(name='password' id='password' type='password' placeholder='Password' required='true') 

            label(for='password-confirmation') Confirm password
            input(name='password-confirmation' id='password-confirmation' type='password' placeholder='Confirm password' required='true') 

            button(type='submit') Sign up

        p Already have an account ? #[a(href='/log-in' class='shortcut-a') Log in]

        if errors
            ul
                for error in errors
                    li!= error.msg

        if error 
            p #{error}